<!DOCTYPE html>
<html>
<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="./css/mainstyle.css">

</head>

<body>
<div id="sitebar">
	<h1 id="title" style="font-family:impact">The Great Game Share</h1>
	<a class="navbar-form navbar-right glyphicon glyphicon-cog">My Account</a> <!--send to get request that will load main page and current user -->


	<form class="navbar-form navbar-right" role="search" >
    	<div class="form-group">
          <input type="text" class="form-control" placeholder ="Search Game ..."  >
        </div>
        <button type="button" class="btn btn-default">
     		<span class="glyphicon glyphicon-search"></span> Search
   		 </button>
    </form>
 
 
 	<img src="http://freeiconbox.com/icon/256/28754.png" alt="logo" style="height:50px">
</div>

<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<div>
      		<ul class="nav navbar-nav">
       			<li class="active"><a href="#" class="glyphicon glyphicon-home" id="toMain">To Main Page</a></li>
        		<li><a href="#">Search Users</a></li> <!-- each of these will send to the get that will load based on who is logged in-->
        		<li><a href="#">Update Info</a></li> 
        		<li><a href="#">Post a Game</a></li> 
        		<li><a href="./main">Log-Out</a></li> 

        	
      		</ul>
     	 	<ul class="nav navbar-nav navbar-right">
        		<li><a href="login"><span class="glyphicon glyphicon-user"></span> Join The Share Network</a></li>
       			<li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login to Account</a></li>
     		</ul>
   		</div>
	</div>
</nav>


    <div class="container">

    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="tasks">
        <thead>
        <tr>
            <th>User Email</th>
            <th>Display Name</th>
        </tr>
        </thead>
        <tbody>
			{{{body}}}
        </tbody>
    </table>

    </div> <!-- /container -->





</body>


</html>
<!--
<script>
//add in requests later
$("#userSearchButton").click(function() {
	user = $("#user").val();

	alert(user);

});
</script>
-->


