<!DOCTYPE html>
<html>
<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="./css/mainstyle.css">

</head>

<body>

{{{body}}}
</body>


</html>

<script>
$("#pwdButton").click(function() {
	newPassword = $("#updatePassword").val();
	//alert(newPassword);
	
	$.post("updatepassword",{password: newPassword}, function(data) {
		alert("changed password");
	});
		/*
		if (data =="Success") {
			alert("Password successfully changed!");
		}
		else {
			alert("Could not change password, try again");
			}
			*/
//	});
	

});

$("#nameButton").click(function() {
	newName = $("#updateName").val();
	//	alert(newName);
	$.post("/updateUsername",{username: newName}, function(data) {
		if (data == "Success") {
			alert("Name successfully changed!");

		}
		else {
			alert("Could not change name, try again");
		}

	});
});

$("#pictureButton").click(function() {
	newPic = $("#updatePic").val();
	//alert(newPic);
	$.post("/updatePic",{pic: newPic}, function(data) {
		if (data == "Success") {
			alert("Picture successfuly changed!");
		}
		else {
			alert("Picture could not be changed, try again");
		}

	});
});


$("#desButton").click(function() {
	newDes = $("#updateDes").val();
	//alert(newName);
	$.post("/updateDescription",{description: newDes}, function(data) {
		if (data == "Success") {
			alert("Description successfuly changed!");
		}
		else {
			alert("Description could not be changed, try again");
		}

	});
});







</script>

