<!DOCTYPE html>
<html>
<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="./css/mainstyle.css">





</head>
<body>

{{{body}}}
</body>

</html>



<script>
//put in seperate file later

$("#rank5").click(function() {
	alert("I rate this 5");
	var thisUser = $("#name").text();
	alert(thisUser);

	$.post("/updateUserRating",{username: thisUser, rating: 5}, function(data) {
		if (data =="Success") {
			alert("Rated user");
		}
	});
});

$("#rank4").click(function() {
	alert("I rate this 4");
	var thisUser = $("#name").text();

	$.post("/updateUserRating",{username: thisUser, rating: 4}, function(data) {
	if (data=="Success") {
		alert("Rated user");
	}
	});

});
$("#rank3").click(function() {
	alert("I rate this 3");
	var thisUser = $("#name").text();

	$.post("/updateUserRating",{username: thisUser, rating: 3}, function(data) {
		if (data=="Success") {
			alert("Rated user");
		}
	});

});
$("#rank2").click(function() {
	alert("I rate this 2");
	var thisUser = $("#name").text();

	$.post("/updateUserRating",{username: thisUser, rating: 2}, function(data) {
		if (data=="Success") {
			alert("Rated user");
		}
	});

});
$("#rank1").click(function() {
	alert("I rate this 1");
	var thisUser = $("#name").text();

	$.post("/updateUserRating",{username: thisUser, rating: 1}, function(data) {
		if (data=="Success") {
			alert("Rated user");
		}
	});

});





$("#rank5").mouseover(function() {
	$(this).css("background-color", "red");
	$("#rank4").css("background-color", "red");
	$("#rank3").css("background-color", "red");
	$("#rank2").css("background-color", "red");
	$("#rank1").css("background-color", "red");
});


$("#rank4").mouseover(function() {
	$(this).css("background-color", "red");

	$("#rank3").css("background-color", "red");
	$("#rank2").css("background-color", "red");
	$("#rank1").css("background-color", "red");
});

$("#rank3").mouseover(function() {
	$(this).css("background-color", "red");
	$("#rank2").css("background-color", "red");
	$("#rank1").css("background-color", "red");
});

$("#rank2").mouseover(function() {
	$(this).css("background-color", "red");
	$("#rank1").css("background-color", "red");
});

$("#rank1").mouseover(function() {
	$(this).css("background-color", "red");
});







$("#rank1").mouseout(function(e) {
  var offset = $(this).offset();
	if (e.pageX < $(this).position().left) {
		$(this).css("background-color", "white");
		$("#rank5").css("background-color", "white");
		$("#rank4").css("background-color", "white");
		$("#rank3").css("background-color", "white");
		$("#rank2").css("background-color", "white");

}
   });
$("#rank2").mouseout(function(e) {
	 var offset = $(this).offset();
	 if (e.pageX < $(this).position().left) {
		$(this).css("background-color", "white");
		$("#rank5").css("background-color", "white");
		$("#rank4").css("background-color", "white");

		$("#rank3").css("background-color", "white");
	 }
});

$("#rank3").mouseout(function(e) {
	 var offset = $(this).offset();
	 if (e.pageX < $(this).position().left) {
		$(this).css("background-color", "white");
		$("#rank4").css("background-color", "white");
		$("#rank5").css("background-color", "white");

	 }
});
$("#rank4").mouseout(function(e) {
	 var offset = $(this).offset();
	 if (e.pageX < $(this).position().left) {
		$(this).css("background-color", "white");
		$("#rank5").css("background-color", "white");
	 }
});
$("#rank5").mouseout(function(e) {
  var offset = $(this).offset();
   // alert(e.pageX - offset.left);
 //  alert($(".star").css("background-color"));
//	if ($("#rank1 .star").css("background-color") == "rgb(255, 255, 255)") {
//		alert("ya");
	if (e.pageX < $(this).position().left) {
		$(this).css("background-color", "white");
}//
   });




</script>

