
<div id="sitebar">
	<h1 id="title" style="font-family:impact">The Great Game Share</h1>
	<a class="navbar-form navbar-right glyphicon glyphicon-cog" href="myuserpage">{{username}}</a> <!--send to get request that will load main page and current user -->


	<form class="navbar-form navbar-right" role="search" method="post" action="./list">
    	<div class="form-group">
          <input type="text" class="form-control" placeholder ="Search Game ..." name="query" >
        </div>
        <button type="submit" class="btn btn-default">
     		<span class="glyphicon glyphicon-search"></span> Search
   		 </button>
    </form>

 
 
 	<img src="http://freeiconbox.com/icon/256/28754.png" alt="logo" style="height:50px">
</div>

<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<div>
      		<ul class="nav navbar-nav">
       			<li class="active"><a href="main" class="glyphicon glyphicon-home" id="toMain">To Main Page</a></li>
        		<li><a href="usersearch">Search Users</a></li> <!-- each of these will send to the get that will load based on who is logged in-->
        		<li><a href="userupdate">Update Info</a></li> 
        		<li><a href="userpost">Post a Game</a></li> 
        		<li><a href="logout">Log-Out</a></li> 

        	
      		</ul>
     	 	<ul class="nav navbar-nav navbar-right">
        		<li><a href="#"><span class="glyphicon glyphicon-user"></span> Join The Share Network</a></li>
       			<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login to Account</a></li>
     		</ul>
   		</div>
	</div>
</nav>

<div id="adminBox">
<h1 id="user">Admin: {{username}}</h1> <!--the name of the user -> will be used for request -->


	<form role="form">

   	<div class="form-group">
  	<h3>User to update</h3>
    <input  class="form-control" id="username">
  	</div>


  <!--
	<br>


	<form role="form" method="post" action=">
		<button id="reviewsof" class="btn btn-primary" type="submit">reviews of user</button> 
	</form>

	<br>

	<br>
	<form role="form" method="post" action=">
		<input type="hidden" name="username" value="{{username}}">
		<button id="postsby" class="btn btn-primary" type="submit">posts by user</button> 
	</form>

	<br>
	<br>

	<form role="form" method:"post" action=">
		<input type="hidden" name="username" value="{{username}}">

		<button id="reviewsby" class="btn btn-primary" type="submit">reviews by user</button> 
	</form>

	<br>
	<br>

-->



	
  <div class="form-group">
  	<h5>Update Password</h5>
    <input  class="form-control" id="updatePassword">
  </div>
  
<!--change name to button later? -->
	<button  id="pwdButton" class="btn btn-primary" type="button">Update Password</button> 

  	<div class="form-group">
  	<h5>Update Username</h5>
    <input  class="form-control" id="updateName">
  	</div>
  	<button id="nameButton" class="btn btn-primary" type="button">Update Username</button> 

  	
 	<div class="form-group">
 	<h5>Update Profile Picture</h5>

    <input  class="form-control" id="updatePic">
  </div>
  	<button id="pictureButton" class="btn btn-primary" type="button">Update Profile Picture</button> 


   <div class="form-group">
 	<h5>Update Description</h5>

    <textarea class = "form-control" rows = "8" id="updateDes"></textarea>

    </div>
  	<button id="desButton" class="btn btn-primary" type="button">Update description</button> 
  	
	<br>
	<br>
  	<button id="delButton" class="btn btn-primary" type="button">Delete User</button> 
  	<br>
  	<br>


</form>


</div>






<div id="bottomdiv">
<p> About: The Great Game Share is not liable for any problems that may arise in your life</p>
<p> Terms and conditions, don't be a jerk</p>
<p> Privacy Policy, don't steal, or we will find you</p>
<p> Even more other useless and pointless stuff </p>
</div>


